body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.player {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.player-controls {
    margin-bottom: 20px;
}

.control-btn {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.control-btn:hover {
    background-color: #0056b3;
}

.song-info {
    margin-bottom: 20px;
}

#song-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

#file-input {
    margin-bottom: 20px;
}

#song-list {
    list-style: none;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    border-top: 1px solid #e0e0e0;
    margin-top: 10px;
}

#song-list li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#song-list li:hover {
    background-color: #f0f0f0;
}
